<template>
  <div class="hello">
    <Question></Question>
  </div>
</template>

<script>
import Question from './Question'
export default {
  components: { Question },
  name: 'HelloWorld',
  props: {}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">

</style>
