<template>
    <div class="hello">
        <div class="d">
            <p>{{questions[page].question.label}}</p>
            <v-radio-group v-model="radioGroup">
                <v-radio
                        v-for="(answer, i_answer) in questions[page].answers"
                        @change="update(i_answer)"
                        :key="i_answer"
                        :label="`${answer.text}`"
                        :value="i_answer"
                ></v-radio>
            </v-radio-group>
            <v-btn @click="next" color="primary">Дальше</v-btn>
        </div>
        <hr>
        <v-container>
            <v-row>
                <div v-for="(question, i) in questions" :key="i">
                    <v-btn @click="page=i" rounded :class="{
                     'gray': page < i ,
                     'primary' : page===i,
                     'green' : questions[i].res>-1,
                     }">{{question.question.label}}
                    </v-btn>
                </div>
            </v-row>
        </v-container>
        <v-btn @click="ques" color="primary">Сбросить результат</v-btn>

        <pre>{{JSON.stringify(res, null, 2)}}</pre>
    </div>
</template>

<script>
import store from 'store'
import questions from './questions'

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  methods: {
    update (d) {
      this.radioGroup = d
      this.timer = setTimeout(() => this.next(), 500)
    },
    next () {
      if (this.radioGroup == null) return
      this.questions[this.page].res = this.radioGroup
      this.computRes()
      if (this.page === questions.length - 1) return
      this.radioGroup = null
      // clearTimeout(this.timer)
      this.page++
    },
    ques () {
      console.log('computRes')
      this.res = {
        'COVID-19': 0,
        Простуда: 0,
        Грипп: 0,
        Аллергия: 0
      }
      this.questions.forEach((d, i) => {
        this.questions[i].res = -2
      })
    },
    computRes () {
      console.log('computRes')
      this.res = {
        'COVID-19': 0,
        Простуда: 0,
        Грипп: 0,
        Аллергия: 0
      }
      this.questions.forEach((d, i) => {
        if (d.res > -1) {
          d.answers[d.res].in.forEach(d1 => {
            this.res[d1]++
          })
        }
      })
    }
  },
  watch: {
    page (neww, old) {
      const a = this.questions[neww].res
      this.radioGroup = a
    }
  },
  computed: {
    result () {
      const res = { asd: 123 }

      return res
    }
  },
  data () {
    return {
      timer: null,
      radioGroup: null,
      questions: JSON.parse(JSON.stringify(questions)),
      page: 0,
      res: null
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    h3 {
        margin: 40px 0 0;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }
</style>
